# Exploring Dataset (Exercise 1)

## Question 1. &nbsp;&nbsp; What are the columns in the dataset?

Dataset:  This is a dataset describing (almost) every aspect of residential homes in Ames, Iowa. This dataset was compiled by Dean De Cock for use in data science education.

Our file is called `house_price.csv` and it is in the `datasets` folder.

## Pre-programming Discussion

#!action

Q1. Which library did we use previously to read csv?

#!response

Answer: pandas.

For data science work, a very common and useful library is **pandas**.

#!action

Q2. Our dataset `house_price.csv` is located in the `datasets` folder. What should be the **path** from this notebook (the one you're reading) to the dataset?

#!response

Answer: 'datasets/house_price.csv'

## Programming Activity: Finding the columns of a dataset

### Step 1. &nbsp;&nbsp;&nbsp; Read CSV Data into Pandas Dataframe

#### Substep. &nbsp;&nbsp; Import Pandas Library

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

<br>
<details>
    <summary>Blockly Hints (Click the triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>
                    <code>import .. as ..</code>
                    <ul>
                        <li>The <code>import .. as ..</code> block is found under IMPORT.</li> 
                        <li>A variable must have been created before it will appear in the dropdown.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [1]:
#!response

import pandas as pd

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="GsbbcFS*+4xV)nR9:8HC">pd</variable></variables><block type="importAs_Python" id="s-/{ls@}[LjZ-}=IikT|" x="-91" y="-154"><field name="libraryName">pandas</field><field name="libraryAlias" id="GsbbcFS*+4xV)nR9:8HC">pd</field></block></xml>

#### Substep. &nbsp;&nbsp; Read CSV data and Save in Variable

#!blhint

- Create variable &nbsp;`df`
- `set df to` &nbsp;:&nbsp; `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/house_price.csv "`

<br><details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [2]:
#!response

df = pd.read_csv('datasets/house_price.csv')

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable><variable id="GsbbcFS*+4xV)nR9:8HC">pd</variable></variables><block type="variables_set" id="x8m5hQVG86btEDgP%5RI" x="-90" y="21"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field><value name="VALUE"><block type="varDoMethod_Python" id="8Nnh()@;ZwP66Xy!^;(0"><mutation items="1"></mutation><field name="VAR" id="GsbbcFS*+4xV)nR9:8HC">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="lH9(oL.OUca:.V,)=J@c"><field name="TEXT">datasets/house_price.csv</field></block></value></block></value></block></xml>

### Step 2. &nbsp;&nbsp;&nbsp; Display Dataframe Contents

#!blhint

- variable &nbsp;`df`

<br><details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Blocks<ul><li>variable<ul><li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li></ul></li></ul></li></ul></details>

In [3]:
#!response

df

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable></variables><block type="variables_get" id="j2I~jP*9o!t.o$xHF}R8" x="-57" y="-81"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field></block></xml>

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

##### Notice "..." in the displayed dataframe content (both in column and row)

If the dataset is too large then notebook doesn't show all of it's content

### Step3. &nbsp;&nbsp;&nbsp; Find All the Column Names

#!blhint

- &nbsp;`from df get columns`

<br><details><summary>Blockly Hints (Click the triangle to expand)</summary><li>Blocks<ul><li><code>from .. get ..</code><ul><li>The <code>from .. get .. </code> block is found under VARIABLES.</li> <li>If <code>get</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> </ul></li></ul></details>

In [4]:
#!response

df.columns

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable></variables><block type="varGetProperty_Python" id="BMLX++VS=Dlxb,z.s~=x" x="-99" y="-61"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field><field name="MEMBER">columns</field><data>df:columns</data></block></xml>

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

### Question 2. &nbsp;&nbsp; Show the size(total number of rows and columns) of the dataset.

#!blhint

- variable &nbsp;`from df get shape`

<details>
<summary> Blockly hints(click triangle to expand) </summary>
<br>

- `from .. get .. ` can be found in VARIABLES menu.
- A variable must have been created before it will appear in the dropdown.
- If dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.

</details>

In [5]:
#!response

df.shape

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable></variables><block type="varGetProperty_Python" id="G?Xes|PZwf!DA==w/x}Z" x="-99" y="-61"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field><field name="MEMBER">shape</field><data>df:shape</data></block></xml>

(1460, 81)

### Question 3. &nbsp;&nbsp; Show only "HouseStyle" and "GarageArea" columns in the dataset.

#!blhint

`df [ .. ]` &nbsp;<-&nbsp; `create list with` &nbsp;:
  - `"HouseStyle"`
  - `"GarageArea"`

<details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>{dictVariable} [ .. ]</code><ul><li>The <code>{dictVariable} [ .. ]</code> block is found under LISTS.</li></ul></li><li><code>create list with</code><ul><li>The <code>create list with</code> block is found under LISTS.</li> <li>You can use the <code>+ -</code> controls on the block to change the number of notches. Unless specifically instructed, the block should not have any empty notches when you click Blocks to Code. </li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [6]:
#!response

df[['HouseStyle', 'GarageArea']]

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable></variables><block type="indexer_Python" id="%+ImFNSnO^4W^UIP-X04" x="-97" y="9"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field><value name="INDEX"><block type="lists_create_with" id="H/WF@6d4zECp91Fm=(96"><mutation items="2"></mutation><value name="ADD0"><block type="text" id="OV6[=lSzzGhaOVHsjUt/"><field name="TEXT">HouseStyle</field></block></value><value name="ADD1"><block type="text" id="80?f]}xf3FEY])`l4DT/"><field name="TEXT">GarageArea</field></block></value></block></value></block></xml>

     HouseStyle  GarageArea
0        2Story         548
1        1Story         460
2        2Story         608
3        2Story         642
4        2Story         836
...         ...         ...
1455     2Story         460
1456     1Story         500
1457     2Story         252
1458     1Story         240
1459     1Story         276

[1460 rows x 2 columns]

### Question 4. &nbsp;&nbsp; Show only the first 5 rows of the dataset.

#!blhint

- variable &nbsp;`in list df get sub-list from first to` <- `5`

<details>
    <summary>Blockly Hints (Click the triangle to expand)
    </summary>
    <ul>
        <li>Notation
            <ul>
                <li>
                <code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.
                </li>
                <li>
                <code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.
                </li>
            </ul>
        </li>
        <li>Blocks
            <ul>
                <li>
                    <code> in list {listVariable} get sub-list from #[..] to # [..]</code>
                    <ul>
                        <li>
                            The <code>in list {listVariable} get sub-list from # [..]to # [..]</code> block is found under LISTS.
                        </li>
                    </ul>
                </li>
                <li>
                    <code>123</code>
                    <ul>
                        <li>
                            The <code>123</code> block is found under MATH.
                        </li> 
                    </ul>
                </li>
                <li>
                    If <code>{listVariable}</code>  dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li>
            </ul>
        </li>
    </ul>
</details>

In [7]:
#!response

df[ : 5]

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="W]!f}bT*Ov-(5pXdaxab">df</variable></variables><block type="lists_getSublist" id="L/Qzv$A@c[L2^R2/RzjD" x="-144" y="-3"><mutation at1="false" at2="true"></mutation><field name="WHERE1">FIRST</field><field name="WHERE2">FROM_START</field><value name="LIST"><block type="variables_get" id="cT-hac{gDD.9e+23.L,)"><field name="VAR" id="W]!f}bT*Ov-(5pXdaxab">df</field></block></value><value name="AT2"><block type="math_number" id="*o{d-JQoTYq*=N7Th5OA"><field name="NUM">5</field></block></value></block></xml>

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000