# Exploring Dataset

Lets go into further analysis for our dataset. First as a review, lets read the `gre_data.csv` from previous day and view the stored data.

## Read CSV Data into Pandas Dataframe

### Import Pandas Library

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

Here's how:

1. From IMPORT, grab `import .. as ..`
2. Replace text `some library` with `pandas`
3. From VARIABLES, click `Create Variable...`, enter `pd`, click OK
4. Select `pd` from `variable name` dropdown in `import .. as ..`
5. Click Blocks to Code and run cell

<br><details><summary>Blockly Hints(Click on triangle to expand)</summary><ul><li>Blocks<ul><li><code>import .. as ..</code><ul><li>The <code>import .. as ..</code> block is found under IMPORT.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li></ul></li></ul></details>

In [1]:
import pandas as pd

### Substep: Read CSV data and Save in Variable

#!blhint

- Create variable &nbsp;`gredata`
- `set gredata to` &nbsp;:&nbsp; `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/gre_data.csv "`

Here's how:

1. From VARIABLES, grab `with .. do .. using ..`
2. Make sure `gredata` is selected in dropdown after with
3. Select `read_csv` from dropdown after do
4. From TEXT, grab `" .. "`
5. Type `datasets/gre_data.csv` into `" .. "`
6. Drag the `" .. "` into the space after using in `with .. do .. using ..`
7. From VARIABLES, click `Create Variable...`, enter `gredata`, click OK
8. From VARIABLES, grab `set .. to`
9. Change dropdown after set to `gredata`
10. Connect `set .. to` and `with .. do .. using ..`
11. Click Blocks to Code and run cell

<br><details><summary>Blockly Hints( click on triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [2]:
gredata = pd.read_csv('datasets/gre_data.csv')

### Display Dataframe Contents

#!blhint

- variable &nbsp;`gredata`

Here's how:

1. From VARIABLES, grab `gredata`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand) </summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [3]:
gredata

   GRE   GPA Gender
0  316  3.40      M
1  308  3.10      M
2  327  3.70      F
3  310  3.33      F
4  305  3.45      M
5  322  3.18      F
6  316  3.25      M
7  300  3.40      F
8  310  3.60      F

## Know the dataset
### Find the Columns(features) in the dataset

Usually, before starting working in a dataset, we need to know the features (columns) in it. To know the columns, we do the following:

#!blhint

- variable &nbsp;`from gredata get columns`

Here's how:

1. From VARIABLES, grab `from .. get .. `
2. Make sure `gredata` is selected in dropdown after `from`
3. Select `columns` from dropdown after `get`
4. Click on "Blocks to Code" at the bottom of the blockly palette.
5. Run the python code cell.

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>
                       
- `from.. get..` block can be found in VARIABLES menu of Blockly palette.
- A variable must have been created before it will appear in the dropdown.
- If dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.

</details>

In [4]:
gredata.columns

Index(['GRE', 'GPA', 'Gender'], dtype='object')

### Find the size of the dataset

Sometimes, we need to know the size (number of rows and columns) of the dataset for analysis convenience. We can know the size of the dataset (rows and columns) by using the `shape` method.

#!blhint

- variable &nbsp;`from gredata get shape`

Here's how:

1. From VARIABLES, grab `from .. get .. `
2. Make sure `gredata` is selected in dropdown after `from`
3. Select `shape` from dropdown after `get`
4. Click on "Blocks to Code" at the bottom of the blockly palette.
5. Run the python code cell.

<details>
<summary> Blockly hints(click triangle to expand) </summary>
<br>

- A variable must have been created before it will appear in the dropdown.
- If dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.

</details>

In [5]:
gredata.shape

(9, 3)

### Selecting specific data in a dataset

We can use the dataframe data mainly in 2 ways
 - Row wise
 - Column wise

#### Row access
In some cases, we might need to access some range of row data but not all the rows. In order to access the row wise data using the blockly palette, we use the following steps:

#!blhint

- variable &nbsp;`in list gredata get sub-list from first to` <- `3`

Here's how:

1. From LISTS, grab `in list {listVariable} get sub-list from #[..] to #[..]`
2. Next Click on the `{listVariable}` drpdown and change it to `gredata`
3. Click on the first `#` drpdown which is located after `get sub-list from` and change it to `first`
4. From MATH menu, grab a number block `123` and put in the the empty block `[..]` which is located after the second`#`
5. Change the value of the number block `123` to `3`
6. Click on "Blocks to Code" at the bottom of the blockly palette.
7. Run the python code cell.

<details>
    <summary>Blockly Hints (Click the triangle to expand)
    </summary>
    <ul>
        <li>Notation
            <ul>
                <li>
                <code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.
                </li>
                <li>
                <code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.
                </li>
            </ul>
        </li>
        <li>Blocks
            <ul>
                <li>
                    <code> in list {listVariable} get sub-list from #[..] to # [..]</code>
                    <ul>
                        <li>
                            The <code>in list {listVariable} get sub-list from # [..]to # [..]</code> block is found under LISTS.
                        </li>
                    </ul>
                </li>
                <li>
                    <code>123</code>
                    <ul>
                        <li>
                            The <code>123</code> block is found under MATH.
                        </li> 
                    </ul>
                </li>
                <li>
                    If <code>{listVariable}</code>  dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li>
            </ul>
        </li>
    </ul>
</details>

In [6]:
gredata[ : 3]

   GRE  GPA Gender
0  316  3.4      M
1  308  3.1      M
2  327  3.7      F

As you can see, the output is only the first 3 row of the dataframe (index 0,1,2).

#### Selecting a single column from dataframe

Unlike rows, dataset columns have their own names(see the column names above). The values under a column are presented as a list. So we can think of a column as a list of values.

First , lets create a list by using blockly.

#!blhint

`gredata [ .. ]` &nbsp;<-&nbsp; `create list with` &nbsp;:
  - `"GPA"`

Here's how:
1. Using the LISTS menu in the Blockly palette, click on `create empty list`.
2. Then click on the + sign of `create empty list` which will change it into `+ - create list with` 
3. To add an element to the list, drag a text block `".."` from the TEXT menu and connect it after `+ - create list with`block.
4. Inside the text block , write `GPA`.
5. Using the LISTS menu in the Blockly palette, grab `{dictVariable}[..]` block and connect it by putting it before the `+ - create list with "GPA"` block
6. Click on the dropdown `{dictVariable}` and change `{dictVariable}` to `gredata`
7. Click on "Blocks to Code" at the bottom of the blockly palette.    
8. Run the python code cell.

<details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>\{dictVariable\} [ .. ]</code><ul><li>The <code>\{dictVariable\} [ .. ]</code> block is found under LISTS.</li></ul></li><li><code>create list with</code><ul><li>The <code>create list with</code> block is found under LISTS.</li> <li>You can use the <code>+ -</code> controls on the block to change the number of notches. Unless specifically instructed, the block should not have any empty notches when you click Blocks to Code. </li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [7]:
gredata[['GPA']]

    GPA
0  3.40
1  3.10
2  3.70
3  3.33
4  3.45
5  3.18
6  3.25
7  3.40
8  3.60

#### Selecting multiple columns from dataframe

Just like selecting multiple rows, we can also select multiple columns from a datframe.

For selecting multiple columns, we follow the same process as selecting a single column.

#!blhint

`gredata [ .. ]` &nbsp;<-&nbsp; `create list with` &nbsp;:
  - `"GPA"`
  - `"GRE"`

Here's how:
1. Using the LISTS menu in the Blockly palette, click on `create empty list`.
2. Then click twice on the + sign of `create empty list` which will change it into `+ - create list with` 
3. To add two element to the list, drag two text blocks `".."` from the TEXT menu and connect each of them after `+ - create list with`block.
4. Inside one text block ".." , write `GPA` and write `GRE` for the other
5. Using the LISTS menu in the Blockly palette, grab `{dictVariable}[..]` block and connect it by putting it before the `+ - create list with "GPA" "GRE"` block
6. Click on the dropdown `{dictVariable}` and change `{dictVariable}` to `gredata`
7. Click on "Blocks to Code" at the bottom of the blockly palette.    
8. Run the python code cell.

<details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>\{dictVariable\} [ .. ]</code><ul><li>The <code>\{dictVariable\} [ .. ]</code> block is found under LISTS.</li></ul></li><li><code>create list with</code><ul><li>The <code>create list with</code> block is found under LISTS.</li> <li>You can use the <code>+ -</code> controls on the block to change the number of notches. Unless specifically instructed, the block should not have any empty notches when you click Blocks to Code. </li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [8]:
gredata[['GPA', 'GRE']]

    GPA  GRE
0  3.40  316
1  3.10  308
2  3.70  327
3  3.33  310
4  3.45  305
5  3.18  322
6  3.25  316
7  3.40  300
8  3.60  310