# Question: Given a dataset about cars, find the cars of some specific features.

Suppose we have this dataset, named `mpg.csv`, where we have information about cars. First, we load the dataset into a dataframe and see its contents.

## Step 1: Read CSV Data into Pandas Dataframe

#### Substep. &nbsp;&nbsp; Import Pandas Library

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

Here's how:

1. From IMPORT, grab `import .. as ..`
2. Replace text `some library` with `pandas`
3. From VARIABLES, click `Create Variable...`, enter `pd`, click OK
4. Select `pd` from `variable name` dropdown in `import .. as ..`
5. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li><code>import .. as ..</code>
                    <ul>
                        <li>The <code>import .. as ..</code> block is found under IMPORT.</li> 
                        <li>A variable must have been created before it will appear in the dropdown.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [12]:
import pandas as pd

#### Substep. &nbsp;&nbsp; Read CSV data and Save in Variable

#!blhint

- Create variable &nbsp;`car_data`
- `set car_data to` &nbsp;:&nbsp; `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/mpg.csv "`

Here's how:

1. From VARIABLES, grab `with .. do .. using ..`
2. Make sure `pd` is selected in dropdown after with
3. Select `read_csv` from dropdown after do
4. From TEXT, grab `" .. "`
5. Type `datasets/mpg.csv` into `" .. "`
6. Drag the `" .. "` into the space after using in `with .. do .. using ..`
7. From VARIABLES, click `Create Variable...`, enter `car_data`, click OK
8. From VARIABLES, grab `set .. to`
9. Change dropdown after set to `car_data`
10. Connect `set .. to` and `with .. do .. using ..`
11. Click Blocks to Code and run cell

<br><details><summary>Blockly Hints (Click triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [13]:
car_data = pd.read_csv('datasets/mpg.csv')

#### Substep. &nbsp;&nbsp; Display Dataframe Contents

#!blhint

- variable &nbsp;`car_data`

Here's how:

1. From VARIABLES, grab `car_data`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [14]:
car_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

## Step 2: Find cars with specific features

#### Look at the features in the dataset

#!blhint

- variable &nbsp;`from car_data get columns`

Here's how:

1. From VARIABLES, grab `from .. get .. `
2. Make sure `car_edata` is selected in dropdown after `from`
3. Select `columns` from dropdown after `get`
4. Click on "Blocks to Code" at the bottom of the blockly palette.
5. Run the python code cell.

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>
                       
- `from.. get..` block can be found in VARIABLES menu of Blockly palette.
- A variable must have been created before it will appear in the dropdown.
- If dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.

</details>

In [15]:
car_data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

#### Filter the required features from the dataset
After looking at the car_data and the features of car_data, let's suppose as a customer, we want to buy the cars which :
- have only 4 cylinders
- name is "toyota corolla"
- model_year is after 1980

There is lots of information shown about the car (mpg, cylinders, etc). But, we are interested in only a few of the variables here. We only want information about name, cylinders and model_year of the cars. So, we filter only those required information next.

#!blhint

`Set car_data to` : `car_data [ .. ]` &nbsp;<-&nbsp; `create list with` &nbsp;:
  - `"cylinders"`
  - `"name"`
  - `"model_year"`

Here's how:

1. From `LISTS` block , click on `{dictVariable} [ ]` block. Put `car_data` in place of {dictVariable}. 
2. From `LISTS`, click on `create list with` block. It has 3 coonection point.
3. Take 4 `" "` block from `TEXT` block. write `cylinders, name, model_year` in the text blocks. Drag them inside `create list with` block.
4. Drag the `create list with` block inside `car_data`
5. Click on `Set {dictVariable} to` block and change it to `set car_data to` and connect to the `car_data` block.
6. From `VARIABLES` block, click the `car_data` block.     
7. Click on "Blocks to Code" at the bottom of the blockly palette.
8. Run the python code cell.

<details><summary>Blockly Hints (Click the triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>\{dictVariable\} [ .. ]</code><ul><li>The <code>\{dictVariable\} [ .. ]</code> block is found under LISTS.</li></ul></li><li><code>create list with</code><ul><li>The <code>create list with</code> block is found under LISTS.</li> <li>You can use the <code>+ -</code> controls on the block to change the number of notches. Unless specifically instructed, the block should not have any empty notches when you click Blocks to Code. </li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [16]:
car_data = car_data[['cylinders', 'name', 'model_year']]

car_data

     cylinders                       name  model_year
0            8  chevrolet chevelle malibu          70
1            8          buick skylark 320          70
2            8         plymouth satellite          70
3            8              amc rebel sst          70
4            8                ford torino          70
..         ...                        ...         ...
393          4            ford mustang gl          82
394          4                  vw pickup          82
395          4              dodge rampage          82
396          4                ford ranger          82
397          4                 chevy s-10          82

[398 rows x 3 columns]

#### Filter cars with 4 cylinders

We filter our car data by only keeping the cars having 4 cylinders and store them in a new variable.

#!blhint
- create variable `cylinder4`
- `Set cylinder4 to` &nbsp;:&nbsp; `car_data [ .. ]` &nbsp;<-&nbsp; ` .. = .. ` &nbsp;<-
  - `from car_data get cylinders`
  - `4`
- Will look like - `Set cylinder4 to car_data [ from car_data get cylinders = 4]`

Here's how:

1. From `LISTS`, click on `{dictVariable}[..]`. place `car_data` inplace of `dictvariable`.
2. From `LOGIC` block, grab `.. = ..` block and put it within `[..]` part of the `car_data[..]` block. Together the block will look like `car_data[.. = ..]`.
3. From `VARIABLES` click on `from .. get ..` block.Then select `car_data` from the dropdown located after `from` and select `cylinders` from the dropdown located after `get`. The block will look like `from car_data get cylinders`.
5. Grab the `from car_data get cylinders` block and put it on the left side of `=` which is located in the `car_data[.. = ..]` block. Together it will look like `car_data[from car_data get cylinders = ..]`
6. From `MATH`, click on `123` block and change the `123` to `4`. It will look like `4`.
7. Grab the `4` block and put it on the right side of `=` which is located in the `car_data[from car_data get cylinders = ..]`. Together the block will look like `car_data[from car_data get cylinders = 4]`
7. In `VARIABLES`, click on `Create variable..` and create a variable named `cylinder4`.
8. Again in `VARIABLES`, grab the `set cylinder4 to` and connect it at the start of `car_data[from car_data get cylinders = 4]` block. Together it will look like `set cylinder4 to car_data[from car_data get cylinders = 4]`
9. Click on "Blocks to Code" at the bottom of the blockly palette.
10. Run the code cell of the notebook

<br>
<details>
  <summary>Blockly Hints (Click on the triangle to expand)</summary>
  <ul>
    <li>Notation
      <ul>
        <li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li>
        <li><code>A</code> &nbsp;&lt-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li>
      </ul>
    </li>
    <li>Blocks
      <ul>
        <li><code>set .. to</code>
          <ul>
            <li>The <code>set .. to</code> block is found under VARIABLES.</li>
            <li>A variable must have been created before it will appear in the dropdown.</li>
          </ul>
        </li>
        <li><code>{dictVariable} [ .. ]</code>
          <ul>
            <li>The <code>{dictVariable} [ .. ]</code> block is found under LISTS.</li>
          </ul>
        </li>
        <li><code> .. = .. </code>
          <ul>
            <li>The <code> .. = .. </code> block is found under LOGIC.</li>
            <li>Use the dropdown to get other comparison operators.</li>
          </ul>
        </li>
        <li><code>from .. get ..</code>
          <ul>
            <li>The <code>from .. get ..</code> block is found under VARIABLES.</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</details>

In [17]:
cylinder4 = car_data[(car_data.cylinders == 4)]

Now we want to display our variable in which we stored the filtered cars with 4 cylinders.

#!blhint

- variable &nbsp;`cylinder4`

Here's how:

1. From VARIABLES, grab `cylinder4`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [18]:
cylinder4

     cylinders                          name  model_year
14           4         toyota corona mark ii          70
18           4                  datsun pl510          70
19           4  volkswagen 1131 deluxe sedan          70
20           4                   peugeot 504          70
21           4                   audi 100 ls          70
..         ...                           ...         ...
393          4               ford mustang gl          82
394          4                     vw pickup          82
395          4                 dodge rampage          82
396          4                   ford ranger          82
397          4                    chevy s-10          82

[204 rows x 3 columns]

#### Among the 4 cylinder cars filter the "toyota corolla" cars

After getting all the 4 cylinder cars from the dataset, we are interested in buying a 'toyota corolla' car, which we are a huge fan of. So, from our 4 cylinder list, we filter out available 'toyota corolla' cars there and store them in a new variable.

#!blhint
- create variable `toyota_cars`
- `Set toyota_cars to` &nbsp;:&nbsp; `cylinder4 [ .. ]` &nbsp;<-&nbsp; ` .. = .. ` &nbsp;<-
  - `from cylinder4 get name`
  - `toyota corolla`
- Will look like - `Set toyota_cars to cylinder4 [ from cylinder4 get name = toyota corolla]`

Here's how:

1. From `LISTS`, click on `{dictvariable}[..]`. place `cylinder4` inplace of `dictvariable`.
2. From `LOGIC` block, grab `.. = ..` block and put it within `[..]` part of the `cylinder4[..]` block. Together the block will look like `cylinder4[.. = ..]`.
3. From `VARIABLES` click on `from .. get ..` block.Then select `cylinder4` from the dropdown located after `from` and select `name` from the dropdown located after `get`. The block will look like `from cylinder4 get name`
5. Grab the `from cylinder4 get name` block and put it on the left side of `=` which is located in the `cylinder4[.. = ..]` block. Together it will look like `cylinder4[from cylinder4 get name = ..]`
6. From `TEXT`, click on `".."` block and write `toyota corolla`. It will look like `toyota corolla`.
7. Grab the `toyota corolla` block and put it on the right side of `=` which is located in the `cylinder4[from cylinder4 get name = ..]`. Together the block will look like `cylinder4[from cylinder4 get name = toyota corolla]`
7. In `VARIABLES`, click on `Create variable..` and create a variable named `toyota_cars`.
8. Again in `VARIABLES`, grab the `set toyota_cars to` and connect it at the start of `cylinder4[from cylinder4 get cylinders = 4]` block. Together it will look like `set toyota_cars to cylinder4[from cylinder4 get name = toyota corolla]`
9. Click on "Blocks to Code" at the bottom of the blockly palette.
10. Run the code cell of the notebook

<br>
<details>
  <summary>Blockly Hints (Click on the triangle to expand)</summary>
  <ul>
    <li>Notation
      <ul>
        <li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li>
        <li><code>A</code>  &nbsp;&lt;-&nbsp;<code>B</code> &nbsp; means insert block B into the hole in block A.</li>
      </ul>
    </li>
    <li>Blocks
      <ul>
        <li><code>set .. to</code>
          <ul>
            <li>The <code>set .. to</code> block is found under VARIABLES.</li>
            <li>A variable must have been created before it will appear in the dropdown.</li>
          </ul>
        </li>
        <li><code>{dictVariable} [ .. ]</code>
          <ul>
            <li>The <code>{dictVariable} [ .. ]</code> block is found under LISTS.</li>
          </ul>
        </li>
        <li><code> .. = .. </code>
          <ul>
            <li>The <code> .. = .. </code> block is found under LOGIC.</li>
            <li>Use the dropdown to get other comparison operators.</li>
          </ul>
        </li>
        <li><code>from .. get ..</code>
          <ul>
            <li>The <code>from .. get ..</code> block is found under VARIABLES.</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</details>

In [19]:
toyota_cars = cylinder4[(cylinder4.name == 'toyota corolla')]

Now we want to display our variable in which we stored the filtered toyota corolla cars with 4 cylinders.

#!blhint

- variable &nbsp;`toyota_cars`

Here's how:

1. From VARIABLES, grab `toyota_cars`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [20]:
toyota_cars

     cylinders            name  model_year
167          4  toyota corolla          75
205          4  toyota corolla          76
321          4  toyota corolla          80
356          4  toyota corolla          81
382          4  toyota corolla          82

#### Among the 4 cylinder "toyota corolla" cars filter the cars which model_year is after 1980

Now, we heard that cars with models made after 1980 are the most fuel efficient cars. So, from our new filtered data , we can find only the cars having those attributes.

#!blhint
- Create variable `filtered_cars`
- `Set filtered_cars to` &nbsp;:&nbsp; `toyota_cars [ .. ]` &nbsp;<-&nbsp; ` .. > .. ` &nbsp;<-
  - `from toyota_cars get model_year`
  - `80`

Here's how:

1. From `LISTS`, click on `{dictvariable}[..]`. place `toyota_cars` inplace of `dictvariable`.
2. From `LOGIC` block, grab `.. = ..` block.
and put it within `[..]` part of the `toyota_cars[..]` block. Together the block will look like `toyota_cars[.. = ..]`.
3. From `VARIABLES` click on `from .. get ..` block.Then select `toyota_cars` from the dropdown located after `from` and select `name` from the dropdown located after `get`. The block will look like `from toyota_cars get model_year`
5. Grab the `from toyota_cars get model_year` block and put it on the left side of `=` which is located in the `toyota_cars[.. = ..]` block. Together it will look like `toyota_cars[from toyota_cars get model_year = ..]`
6. From `MATH`, click on `123` block and write `80`. It will look like `80`.
7. Grab the `80` block and put it on the right side of `=` which is located in the `toyota_cars[from toyota_cars get model_year = ..]`. Together the block will look like `toyota_cars[from toyota_cars get model_year = 80]`
7. Click on the dropdown right after `=` and change it to `>` so that the block looks like `toyota_cars[from toyota_cars get model_year > 80]`
8. In `VARIABLES`, click on `Create variable..` and create a variable named `filtered_cars`.
9. Again in `VARIABLES`, grab the `set filtered_cars to` and connect it at the start of `toyota_cars[from toyota_cars get model_year > 80]` block. Together it will look like `set filtered_cars to toyota_cars[from toyota_cars get model_year > 80]`
10. Click on "Blocks to Code" at the bottom of the blockly palette.
11. Run the code cell of the notebook

<br>
<details>
  <summary>Blockly Hints (Click on triangle to expand)</summary>
  <ul>
    <li>Notation
      <ul>
        <li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li>
        <li><code>A</code>  &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li>
      </ul>
    </li>
    <li>Blocks
      <ul>
        <li><code>set .. to</code>
          <ul>
            <li>The <code>set .. to</code> block is found under VARIABLES.</li>
            <li>A variable must have been created before it will appear in the dropdown.</li>
          </ul>
        </li>
        <li><code>{dictVariable} [ .. ]</code>
          <ul>
            <li>The <code>{dictVariable} [ .. ]</code> block is found under LISTS.</li>
          </ul>
        </li>
        <li><code> .. = .. </code>
          <ul>
            <li>The <code> .. = .. </code> block is found under LOGIC.</li>
            <li>Use the dropdown to get other comparison operators.Here you have to find the > </li>
          </ul>
        </li>
        <li><code>from .. get ..</code>
          <ul>
            <li>The <code>from .. get ..</code> block is found under VARIABLES.</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</details>

In [21]:
filtered_cars = toyota_cars[(toyota_cars.model_year > 80)]

Now we want to display our final filtered cars

#!blhint

- variable &nbsp;`filtered_cars`

Here's how:

1. From VARIABLES, grab `filtered_cars`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [22]:
filtered_cars

     cylinders            name  model_year
356          4  toyota corolla          81
382          4  toyota corolla          82

Finally, after filtering by our requirements to buy our preferred kind of car, we have a list of only 2 cars with the required features from an initial list of almost 400 cars. By using filtering in a big dataset, we can more easily find the data we care about.