# Descriptive Statistics Activity 1

## Question. &nbsp;What is the mean, median and mode of the size of the petals of a flower?

Dataset: Data on the color, shape and size of petals of a flower.

Columns:
- PetalColor
- PetalShape
- Size

### Step 1. &nbsp;&nbsp;&nbsp; Read CSV Data into Pandas Dataframe

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

#### Import libraries

We can calculate measures of central tendency and spread using `pandas dataframes`.

First thing you need to do is import `pandas` below.

<br><details><summary>Blockly Hints</summary><ul><li>Blocks<ul><li><code>import .. as ..</code><ul><li>The <code>import .. as ..</code> block is found under IMPORT.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li></ul></li></ul></details>

In [1]:
#!response

import pandas as pd

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="importAs_Python" id="o[3wY[w:R*b$p^Ow/ZZw" x="125" y="352"><field name="libraryName">pandas</field><field name="libraryAlias" id="zq]t,,UR`GWj6?Hub9%a">pd</field></block></xml>

#### Substep. &nbsp;&nbsp; Read CSV data and Save in Variable

#### Load data

We're going to work with data from before, on flowers.

Load the CSV file `"datasets/flower-data-2020.csv"` into a dataframe.

#!blhint

- Create variable &nbsp;`dataframe`
- `set dataframe to` &nbsp;:&nbsp; `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/flower-data-2020.csv "`

<details>
  <summary>Blockly Hints</summary>
  <ol>
    <li>Variable <code>dataframe</code> must be created under VARIABLES before it can be used</li>
    <li><code>set .. to</code> block found under VARIABLES</li>
    <li><code>with .. do .. using</code> block found under VARIABLES</li>
    <li>If <code>do</code> dropdown in <code>with .. do .. using</code> block will not populate, try "Run All Above Selected Cell" from the "Run" menu in top-left.</li>
    <li>You need a <code>".."</code> block found under TEXT to fill in the <code>using</code> part of the <code>with .. do .. using</code> block</li>
    <li>If <code>with .. do .. using</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li>
  </ol>
</details>

In [3]:
#!response

dataframe = pd.read_csv('datasets/flower-data-2020.csv')

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable><variable id="zq]t,,UR`GWj6?Hub9%a">pd</variable></variables><block type="variables_set" id="Q;Wf|^J[l``[2AUnBA[j" x="-54" y="-88"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><value name="VALUE"><block type="varDoMethod_Python" id=";6X,{%h.e:jHHE~h}eX`"><mutation items="1"></mutation><field name="VAR" id="zq]t,,UR`GWj6?Hub9%a">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="}TiS{=`m#5SXZ11xtT6W"><field name="TEXT">datasets/flower-data-2020.csv</field></block></value></block></value></block></xml>

### View the Dataframe

#!blhint

- variable &nbsp;`dataframe`

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [4]:
#!response

dataframe

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="variables_get" id="j,sLx23s.;8%Za?gBNRZ" x="-75" y="-34"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field></block></xml>

     PetalColor PetalShape  Size
0    multicolor    rounded     2
1      unicolor    rounded     2
2      unicolor  unrounded     3
3    multicolor    rounded     2
4    multicolor    rounded     1
..          ...        ...   ...
205  multicolor    rounded     3
206    unicolor    rounded     3
207    unicolor  unrounded     3
208  multicolor    rounded     2
209    unicolor    rounded     1

[210 rows x 3 columns]

#### Substep. Compute the mean, median and mode for the size of the petals 

In the next three cells, use the dataframe to calculate the mean, median, and mode of the `Size` column.

Blockly Hints:
 
- create variable `size` 
- `set size to` : `dataframe [ .. ]` <- `create list with` &nbsp;:
    - `" Size "`

<details>
  <summary>Blockly Hints</summary>
  <ol>
      <li>Using the LISTS menu in the Blockly palette, click on <code>create empty list</code>. Then click on the <code>+</code> sign.</li>
      <li>To add an element to the list, drag a text block and connect it with the list block. Inside the text block , write <b>Size</b>. </li>
      <li>Using the LISTS menu in the Blockly palette, click on the {dictVariable}[ ] block, change {dictVariable} to dataframe, and drop a create list with ["Size"] inside it.</li>
      <li>From VARIABLES, <code>set size to</code> the <code>{dataframe}['Size']</code>  block</li>
     

  </ol>
</details>

In [5]:
#!response

size = dataframe[['Size']]

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="q,l~CsolziEN`^3*$p}i">size</variable><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="variables_set" id="B)}qP8Yzo+dF5LW?%R!v" x="-63" y="-163"><field name="VAR" id="q,l~CsolziEN`^3*$p}i">size</field><value name="VALUE"><block type="indexer_Python" id="oT^ceKJ3uQH89/3eDS@O"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><value name="INDEX"><block type="lists_create_with" id="dP,dn!,awD@oqy!7:com"><mutation items="1"></mutation><value name="ADD0"><block type="text" id="~Y~dn[0p~~C1%NPK5_4C"><field name="TEXT">Size</field></block></value></block></value></block></value></block></xml>

#### Substep. Compute the mean  

- `with size do mean using`

In [6]:
#!response

size.mean()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod_Python" id="]I:]}wMu=(Gnu*RD$$~9" x="8" y="188"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">mean</field><data>dataframe:mean</data></block></xml>

Size    2.109524
dtype: float64

#### Substep. Compute the median  

Using the same approach, compute the median. 


Here's How:
- `with size do median using`

In [7]:
#!response

size.median()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="q,l~CsolziEN`^3*$p}i">size</variable></variables><block type="varDoMethod_Python" id="]I:]}wMu=(Gnu*RD$$~9" x="-3" y="-79"><mutation items="1"></mutation><field name="VAR" id="q,l~CsolziEN`^3*$p}i">size</field><field name="MEMBER">median</field><data>size:median</data></block></xml>

Size    2.0
dtype: float64

#### Substep. Compute the mode  

Using the same approach, compute the median. 


Here's How:
- `with size do mode using`

In [8]:
#!response

size.mode()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="[V~uW+0L/4GW;45ulv+l">dataframe</variable></variables><block type="varDoMethod_Python" id="]I:]}wMu=(Gnu*RD$$~9" x="8" y="188"><field name="VAR" id="[V~uW+0L/4GW;45ulv+l">dataframe</field><field name="MEMBER">mode</field><data>dataframe:mode</data></block></xml>

   Size
0     2

### QUESTION: How do the mean, median, and mode values differ here?  

Write your answer in the cell below.

#!response

*In this case, the mean, median, and mode are almost the same*



### Let's look at some different data: a students quiz grades across a course.

Suppose a student received the following grades:

- 0
- 85
- 82
- 91
- 82

In the next cell, we have made a new dataframe using this list of numbers and output it.

Run the code cell below.

In [9]:

grades = pd.DataFrame([0, 85, 82, 91, 82])

grades

    0
0   0
1  85
2  82
3  91
4  82

Now, calculate and show the mean, median, and mode of the `grades` dataframe.

In [10]:
#!response

grades.mean()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="Pl:^oR,*DCGup|yt@jhP" x="34" y="53"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mean</field><data>grades:mean</data></block></xml>

0    68.0
dtype: float64

In [11]:
#!response

grades.median()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="M7N}]0R)SN=29(Q,$qP}" x="8" y="180"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">median</field><data>grades:median</data></block></xml>

0    82.0
dtype: float64

In [12]:
#!response

grades.mode()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="TXy5K+c}B,F+plOfcU*!" x="8" y="180"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mode</field><data>grades:mode</data></block></xml>

    0
0  82

Now drop the 0 grade from the list and display the updated dataframe.


- Run the code cell below.

In [13]:

grades = grades.drop(0, axis=0)

grades

    0
1  85
2  82
3  91
4  82

Recalculate and show the mean, median, and mode.

In [14]:
#!response

grades.mean()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="Pl:^oR,*DCGup|yt@jhP" x="34" y="53"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mean</field><data>grades:mean</data></block></xml>

0    85.0
dtype: float64

In [15]:
#!response

grades.median()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="T++I;EF!QI6?BGgU_qIX" x="8" y="180"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">median</field><data>grades:median</data></block></xml>

0    83.5
dtype: float64

In [16]:
#!response

grades.mode()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="0Z~AP{;(K9p1).M_No)5">grades</variable></variables><block type="varDoMethod_Python" id="Kk2f+qM!L@VqLQ^zYwjW" x="8" y="180"><field name="VAR" id="0Z~AP{;(K9p1).M_No)5">grades</field><field name="MEMBER">mode</field><data>grades:mode</data></block></xml>

    0
0  82

### QUESTION: How did the mean, median, and mode change after you dropped the zero?  

Write your answer in the cell below.

#!response

*Median changed very slightly and mode did not change at all.
Mean changed dramatically from 68 to 85.*

### QUESTION: What does dropping the zero mean to the student who took this class?

Write your answer in the cell below.

#!response

*This means the student would go from a D to a B in the class.*