# Reading CSV data file

From our previous lesson, we have learnt about tabular data and CSV files that store data for our analysis. Today, we will learn an to work with the CSV data in python using pandas, a python library that creates **dataframes** to view tabular data such as CSVs

### Import Pandas Library


#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

Here's how:

1. From IMPORT, grab `import .. as ..`
2. Replace text `some library` with `pandas`
3. From VARIABLES, click `Create Variable...`, enter `pd`, click OK
4. Select `pd` from `variable name` dropdown in `import .. as ..`
5. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>
                    <code>import .. as ..</code>
                    <ul>
                        <li>The <code>import .. as ..</code> block is found under IMPORT.</li> 
                        <li>A variable must have been created before it will appear in the dropdown.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [1]:
import pandas as pd

### Read the CSV data into a dataframe

Now that we have imported the library, we can read our data file.

#!blhint

- Create variable &nbsp;`greatest`
- `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/gre_data.csv "`

Here's how:

1. From VARIABLES, grab `with .. do .. using ..`
2. Make sure `pd` is selected in dropdown after with
3. Select `read_csv` from dropdown after do
4. From TEXT, grab `" .. "`
5. Type `datasets/gre_data.csv` into `" .. "`
6. Drag the `" .. "` into the space after using in `with .. do .. using ..`
7. From VARIABLES, click `Create Variable...`, enter `greatest`, click OK
8. From VARIABLES, grab `set .. to`
9. Change dropdown after set to `greatest`
10. Connect `set .. to` and `with .. do .. using ..`
11. Click Blocks to Code and run cell

<br><details><summary>Blockly Hints (Click triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [2]:
greatest = pd.read_csv('datasets/gre_data.csv')

### View the dataframe

Finally we view our saved data in the dataframe.

#!blhint

- variable `greatest`

Here's how:

1. From VARIABLES, grab `greatest`
2. Click Blocks to Code and run cell

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [3]:
greatest

   GRE   GPA Gender
0  316  3.40      M
1  308  3.10      M
2  327  3.70      F
3  310  3.33      F
4  305  3.45      M
5  322  3.18      F
6  316  3.25      M
7  300  3.40      F
8  310  3.60      F