## Activity to read csv file (2)

Lets suppose we have this dataset named us_population.csv . The dataset contains the information on the population and the percent change in population in the US for each decade starting from the year 1910-202. We want to analyze the data in this dataset for further evaluation.

Now, complete the following tasks.
- Import the `pandas` library.
- Read the `us_population.csv` dataset into a dataframe named `population`. 
- View the dataframe `population`.

You can refer to the previous worked example notebook.

### Import Pandas Library

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

<br>
<details>
    <summary>Blockly Hints (Click to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li><code>import .. as ..</code>
                    <ul>
                        <li>The <code>import .. as ..</code> block is found under IMPORT.</li> 
                        <li>A variable must have been created before it will appear in the dropdown.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [1]:
#!response

import pandas as pd

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="GsbbcFS*+4xV)nR9:8HC">pd</variable></variables><block type="importAs_Python" id="gS}{.rs1Kv)M5v*U{#+%" x="-36" y="8"><field name="libraryName">pandas</field><field name="libraryAlias" id="GsbbcFS*+4xV)nR9:8HC">pd</field></block></xml>

### Read the CSV data into a dataframe

#!blhint

- Create variable `population`
- `set population to` : `with pd do read_csv using `<-` " datasets/us_population.csv "`

<br><details><summary>Blockly Hints (Click triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [2]:
#!response

population = pd.read_csv('datasets/us_population.csv')

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="tL.U]N;3ug`_n(9:1e3a">population</variable><variable id="GsbbcFS*+4xV)nR9:8HC">pd</variable></variables><block type="variables_set" id="szu}1BzN)D@1q8J;oeab" x="-58" y="170"><field name="VAR" id="tL.U]N;3ug`_n(9:1e3a">population</field><value name="VALUE"><block type="varDoMethod_Python" id="3V%Bhg8wL$}2}-l+JlwF"><mutation items="1"></mutation><field name="VAR" id="GsbbcFS*+4xV)nR9:8HC">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="xGr:33oz+5:F@ZoFy[)_"><field name="TEXT">datasets/us_population.csv</field></block></value></block></value></block></xml>

### View the dataframe

#!blhint

- variable &nbsp;`population`

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [3]:
#!response

population

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="tL.U]N;3ug`_n(9:1e3a">population</variable></variables><block type="variables_get" id="NX!s2IO7liK@I(d7$2L6" x="-50" y="418"><field name="VAR" id="tL.U]N;3ug`_n(9:1e3a">population</field></block></xml>

,Name,Year,Resident Population,Percent Change in Resident Population
0,United States,1910,92228531,21.0
1,United States,1920,106021568,15.0
2,United States,1930,123202660,16.2
3,United States,1940,132165129,7.3
4,United States,1950,151325798,14.5
5,United States,1960,179323175,18.5
6,United States,1970,203211926,13.3
7,United States,1980,226545805,11.5
8,United States,1990,248709873,9.8
9,United States,2000,281421906,13.2
10,United States,2010,308745538,9.7
11,United States,2020,331449281,7.4

## What are the column names of the dataframe `population`?

In [ ]:
#!response

## How many rows of data are present in dataframe `population`?

In [ ]:
#!response