# User Activity2 (Filtering2)

We have a dataset named `diabetes.csv`. This dataset contains some features that are medical predictors of diabetes. It also has a features named `outcome` which predicts if a person has diabetes or not (0 or 1).

### Question: Analyze the data of people who have diabetes and people who don't and compare the glucose level of diabetic and non-diabetic people.

Using this dataset, we want to analyze the data of people who have diabetes and people who don't and try to find out the glucose level of diabetic and non-diabetic people.

**Dataset Location: datasets/diabetes.csv**

### Step 1: Read CSV Data into Pandas Dataframe

#### Import Pandas Library

#!blhint

- Create variable &nbsp;`pd`
- `import pandas as pd`

<br>
<details>
    <summary>Blockly Hints (Click to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li><code>import .. as ..</code>
                    <ul>
                        <li>The <code>import .. as ..</code> block is found under IMPORT.</li> 
                        <li>A variable must have been created before it will appear in the dropdown.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [13]:
#!response

import pandas as pd

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="]f;%,;HlDPfuaL^@gFMn">pd</variable></variables><block type="importAs_Python" id="(xeOnjmy#R30m+IW-T``" x="36" y="142"><field name="libraryName">pandas</field><field name="libraryAlias" id="]f;%,;HlDPfuaL^@gFMn">pd</field></block></xml>

#### Read CSV data and Save in Variable

#!blhint

- Create variable &nbsp;`diabetes_data`
- `Set diabetes_data to` &nbsp;:&nbsp; `with pd do read_csv using` &nbsp;<-&nbsp; `" datasets/diabetes.csv "`

<br><details><summary>Blockly Hints (Click triangle to expand)</summary><ul><li>Notation<ul><li><code>A</code> &nbsp;:&nbsp; <code>B</code>&nbsp; means snap blocks A and B together.</li><li><code>A</code> &nbsp;&lt;-&nbsp; <code>B</code>&nbsp; means insert block B into the hole in block A.</li></ul></li><li>Blocks<ul><li><code>set .. to</code><ul><li>The <code>set .. to</code> block is found under VARIABLES.</li> <li>A variable must have been created before it will appear in the dropdown.</li></ul></li><li><code>with .. do .. using ..</code><ul><li>The <code>with .. do .. using ..</code> block is found under VARIABLES.</li> <li>If <code>do</code> dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.</li> <li>If <code>with .. do .. using ..</code> block does not want to snap together nicely with the <code>set .. to</code> block, try dragging the <code>set .. to</code> block instead.</li></ul></li><li><code>" .. "</code><ul><li>The <code>" .. "</code> block is found under TEXT.</li></ul></li></ul></li></ul></details>

In [14]:
#!response

diabetes_data = pd.read_csv('datasets/diabetes.csv')

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</variable><variable id="]f;%,;HlDPfuaL^@gFMn">pd</variable></variables><block type="variables_set" id="v/vBK^zQ(QKmF8~N1N_S" x="-8" y="162"><field name="VAR" id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</field><value name="VALUE"><block type="varDoMethod_Python" id="|JAcvB!;;=EGT%S5w?-m"><mutation items="1"></mutation><field name="VAR" id="]f;%,;HlDPfuaL^@gFMn">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="%?_uzsFRUhJRj^7!l,5("><field name="TEXT">datasets/diabetes.csv</field></block></value></block></value></block></xml>

#### Display Dataframe Contents

#!blhint

- variable &nbsp;`diabetes_data`

<br>
<details>
    <summary>Blockly Hints (Click on triangle to expand)</summary>
    <ul>
        <li>Blocks
            <ul>
                <li>variable
                    <ul>
                        <li>After it is created, each variable has its own block at the end of the VARIABLES menu.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</details>

In [15]:
#!response
diabetes_data

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</variable></variables><block type="variables_get" id="xd~-_2kO]f@z@R3r@[a/" x="8" y="272"><field name="VAR" id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</field></block></xml>

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

#### What are the columns

#!blhint

- variable &nbsp;`from diabetes_data get columns`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>
    
- From `variables` tab, click `from diabetes_data get...` block into the workspace.
- In the block, click on the dropdown after `get` and select the option `columns`.
    - If `get` dropdown says "!Not populated until you execute code", click anywhere in the notebook tab, then click try "Run All Above Selected Cell" from the "Run" menu.
- Click on "Blocks to Code" at the bottom of the blockly palette.
- Run the python code cell.
</details>

In [16]:
#!response
diabetes_data.columns

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</variable></variables><block type="varGetProperty_Python" id="=?vr`dutW}|=n$mElxRt" x="34" y="252"><field name="VAR" id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</field><field name="MEMBER">columns</field><data>diabetes_data:columns</data></block></xml>

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### Get the required Columns (Glucose, BMI, BloodPressure, Outcome)

For our analysis, we will only consider the `Glucose`, `BMI` and `BloodPressure` columns. So we will keep only these columns.

In `Outcome` column, `1` represents the person is diabetic and `0` represents the person is non-diabetic.

#!blhint

`set filtered_diabetes_data` : `diabetes_data` &nbsp;<-&nbsp; `create list with` &nbsp;:
  - `"Glucose"`
  - `"BMI"`
  - `"BloodPressure"`
  - `"Outcome"`

<details>
<summary>Blockly instructions: (click triangle to expand)</summary>
<br> 

- Notation
    - `A : B` means snap blocks A and B together.
    - `A <- B` means insert block B into the hole in block A.
        
- Blocks:
    - From `LISTS`, get the `{dictVariable} [..]` block.
    - Replace {dictVariable} with `diabetes_data`.
    - From `LISTS`, get `create list with` block. Click on the `+` sign 1 more time so that the block has 4 connection points.
    - Take 4 `" "` block from `TEXT`.
    - Write `Glucose`, `BMI`, `BloodPressure`, `Outcome` in the `" "` blocks. Connect them to the end of the `create list with` block.
    - Drag the `create list with` block inside `diabetes_data [..]`
    - Create a variable `filtered_diabetes_data` in `VARIABLES`.
    - From `VARIABLES` click on `set filtered_diabetes_data to` and connect to the `diabetes_data` block.
    - From `VARIABLES` block, click the `filtered_diabetes_data` block.     
    - Click on "Blocks to Code" at the bottom of the blockly palette.   
    - Run the python cell by pressing Shift+Enter.    
</details>

In [17]:
#!response
filtered_diabetes_data = diabetes_data[['Glucose', 'BMI', 'BloodPressure', 'Outcome']]

filtered_diabetes_data

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</variable><variable id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</variable></variables><block type="variables_set" id="IfoJdLb*GI0H_c,_r%bA" x="16" y="56"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field><value name="VALUE"><block type="indexer_Python" id="UqDlyYl;hn1N~xuK5d%_"><field name="VAR" id="P:%1gs.=j|*pHEM`Nzrq">diabetes_data</field><value name="INDEX"><block type="lists_create_with" id="N+,9!9Z]I%p]lpYZhvY?"><mutation items="4"></mutation><value name="ADD0"><block type="text" id="QmHHN~Bs#ETg~Y`NcW^r"><field name="TEXT">Glucose</field></block></value><value name="ADD1"><block type="text" id="j;W~,P-[~90h@E;.xz4j"><field name="TEXT">BMI</field></block></value><value name="ADD2"><block type="text" id="{];,GMAH]91+Oejdu=27"><field name="TEXT">BloodPressure</field></block></value><value name="ADD3"><block type="text" id="b!cs6$:[+thU[xGWPDcU"><field name="TEXT">Outcome</field></block></value></block></value></block></value></block><block type="variables_get" id="oIM3LN|*qQfsi5;PNp?4" x="16" y="210"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field></block></xml>

     Glucose   BMI  BloodPressure  Outcome
0        148  33.6             72        1
1         85  26.6             66        0
2        183  23.3             64        1
3         89  28.1             66        0
4        137  43.1             40        1
..       ...   ...            ...      ...
763      101  32.9             76        0
764      122  36.8             70        0
765      121  26.2             72        0
766      126  30.1             60        1
767       93  30.4             70        0

[768 rows x 4 columns]

### Diabetic Group Data
### Calculate mean `Glucose` level of Diabetic People

#### Substep 1: Find the diabetic people

To calculate mean `Glucose` level of diabetic group we have to filter the diabetic people. 

To do so, from `filtered_diabetes_data` we have to filter the people whose `Outcome` is `1`

#!blhint
- create variable `diabetic_group`
- `set diabetic_group to` &nbsp;:&nbsp; `filtered_diabetes_data [ .. ]` &nbsp;<-&nbsp; ` .. = .. ` &nbsp;<-
  - `filtered_diabetes_data [ .. ]` &nbsp;<-&nbsp; `"Outcome"` 
  - `1`
- Will look like  `set diabetic_group to filtered_diabetes_data [ filtered_diabetes_data ["Outcome"] = 1]`
- Variable `diabetic_group`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>
    
- Notation:
    - `A : B` means snap blocks A and B together.
    - `A <- B` means insert block B into the hole in block A.
- Blocks:
    - From `LISTS`, click on `{dictvariable}[]`. Place `filtered_diabetes_data` inplace of `dictvariable`.
    - Get a text block `" "`. write `Outcome` in the `" "` block. drag it inside `filtered_diabetes_data_data`.
    - From `LOGIC` block, click on `.. = .. ` block. on the left side of it, put the already created `filtered_diabetes_data["Outcome"]` block.
    - On the right side of `=` put a `123` block from `MATH`. Write `1` in it.
    - From lists, click on `{dictvariable}[]`. place `filtered_diabetes_data` inplace of `dictvariable`.Put the already created `filtered_diabetes_data["Outcome"]= 1` block inside the new `filtered_diabetes_data[ ]` block.
    - Create a variable `diabetic_group`.
    - From `VARIABLES`click on `set diabetic_group to` block and connect to the left of `filtered_diabetes_data` block.
    - From `VARIABLES` block, click the `diabetic_group` block.    
    - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [18]:
#!response
diabetic_group = filtered_diabetes_data[(filtered_diabetes_data['Outcome'] == 1)]

diabetic_group

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="-j!%+%h?k@Nr;b+}Gwaf">diabetic_group</variable><variable id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</variable></variables><block type="variables_set" id="OHa1r=[W.?)yPSqKNwV2" x="-39" y="209"><field name="VAR" id="-j!%+%h?k@Nr;b+}Gwaf">diabetic_group</field><value name="VALUE"><block type="indexer_Python" id="DrFmlEM7?vmzq%e=@u?B"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field><value name="INDEX"><block type="logic_compare" id="CKI6TGs|AdFrsqIP}_!R"><field name="OP">EQ</field><value name="A"><block type="indexer_Python" id="J$2POgT5K!9Mbs,rK3Zp"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field><value name="INDEX"><block type="text" id="H_q5|t[Z6*m#F]]Pp.c/"><field name="TEXT">Outcome</field></block></value></block></value><value name="B"><block type="math_number" id="Z^*8-,i}bp/y%sjNRLk6"><field name="NUM">1</field></block></value></block></value></block></value></block><block type="variables_get" id="QJqEQgZGLGZ]lP0w5=Oq" x="-35" y="308"><field name="VAR" id="-j!%+%h?k@Nr;b+}Gwaf">diabetic_group</field></block></xml>

     Glucose   BMI  BloodPressure  Outcome
0        148  33.6             72        1
2        183  23.3             64        1
4        137  43.1             40        1
6         78  31.0             50        1
8        197  30.5             70        1
..       ...   ...            ...      ...
755      128  36.5             88        1
757      123  36.3             72        1
759      190  35.5             92        1
761      170  44.0             74        1
766      126  30.1             60        1

[268 rows x 4 columns]

#### Substep 2: Calculate Mean `Glucose` Level of Diabetic People.

Now we want to calculate mean `Glucose` level of diabetic people.

But for that first we have to select the `Glucose` column of the `diabetic_group` dataframe.

#!blhint

- Create variable `diabetic_glucose`
- `set diabetic_glucose to` : `diabetic_group [ .. ]` &nbsp;<-&nbsp; `"Glucose"` 
- Variable `diabetic_glucose`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>

- Notation:
    - `A : B` means snap blocks A and B together.
    - `A <- B` means insert block B into the hole in block A.
- Blocks:
    - From `LISTS`, click on `{dictvariable}[]`. place `diabetic_group` inplace of `dictvariable`.
    - Get a text block `" "`. Write `Glucose` in the `" "` block. drag it inside `diabetic_group[ ]`.
    - Create a variable `diabetic_glucose` in `VARIABLES`.
    - From `VARIABLES` click on `set diabetic_glucose to` and connect to the left of the already created `diabetic_group["Glucose"]` block.
    - From `VARIABLES` block, click the `diabetic_glucose` block.     - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [19]:
#!response
diabetic_glucose = diabetic_group['Glucose']

diabetic_glucose

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="T!e/=h)qmn7oriZ~}3jJ">diabetic_glucose</variable><variable id="-j!%+%h?k@Nr;b+}Gwaf">diabetic_group</variable></variables><block type="variables_set" id="8C6(ybcG#bWW{sPUAD$F" x="-32" y="163"><field name="VAR" id="T!e/=h)qmn7oriZ~}3jJ">diabetic_glucose</field><value name="VALUE"><block type="indexer_Python" id="(w$UGS:^aFRub!PI9R5s"><field name="VAR" id="-j!%+%h?k@Nr;b+}Gwaf">diabetic_group</field><value name="INDEX"><block type="text" id="j!OSc$*9)Wf|0`sB/1aA"><field name="TEXT">Glucose</field></block></value></block></value></block><block type="variables_get" id="P`PgGC)-y]^koQxlg,Kh" x="-35" y="220"><field name="VAR" id="T!e/=h)qmn7oriZ~}3jJ">diabetic_glucose</field></block></xml>

0      148
2      183
4      137
6       78
8      197
      ...
755    128
757    123
759    190
761    170
766    126
Name: Glucose, Length: 268, dtype: int64

##### Calculate Mean of the Glucose level of diabetic people

We already have the `Glucose` level of the diabetic people in our `diabetic_glucose` dataframe. Now we will use this to calculate the mean.

#!blhint

- `with diabetic_glucose do mean using ..`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>

- Blocks:    
    - From `VARIABLES` block, click the `with diabetic_glucose do ...using...` block. 
    - From do , select `mean` option.    
    - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [20]:
#!response
diabetic_glucose.mean()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="T!e/=h)qmn7oriZ~}3jJ">diabetic_glucose</variable></variables><block type="varDoMethod_Python" id="sAAwH/R0@#c`XW77G3|;" x="-35" y="184"><field name="VAR" id="T!e/=h)qmn7oriZ~}3jJ">diabetic_glucose</field><field name="MEMBER">mean</field><data>diabetic_glucose:mean</data></block></xml>

141.25746268656715

### Non Diabetic Group Data
### Calculate Mean `Glucose` level of Non-Diabetic People.

#### Substep 1: Find the non-diabetic people

To calculate mean `Glucose` level of non-diabetic group we have to filter the non-diabetic people. 

To do so, from `filtered_diabetes_data` we have to filter the people whose `Outcome` is `0`

#!blhint
- create variable `non_diabetic_group`
- `set non_diabetic_group to` &nbsp;:&nbsp; `filtered_diabetes_data [ .. ]` &nbsp;<-&nbsp; ` .. = .. ` &nbsp;<-
  - `filtered_diabetes_data [ .. ]` &nbsp;<-&nbsp; `"Outcome"` 
  - `0`
- Will look like  `set non_diabetic_group to filtered_diabetes_data [ filtered_diabetes_data ["Outcome"] = 0]`
- Variable `non_diabetic_group`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>
    
- Notation:
    - `A : B` means snap blocks A and B together.
    - `A <- B` means insert block B into the hole in block A.
- Blocks:
    - From `LISTS`, click on `{dictvariable}[]`. Place `filtered_diabetes_data` inplace of `dictvariable`.
    - Get a text block `" "`. write `Outcome` in the `" "` block. drag it inside `filtered_diabetes_data_data`.
    - From `LOGIC` block, click on `.. = .. ` block. on the left side of it, put the already created `filtered_diabetes_data["Outcome"]` block.
    - On the right side of `=` put a `123` block from `MATH`. Write `0` in it.
    - From lists, click on `{dictvariable}[]`. place `filtered_diabetes_data` inplace of `dictvariable`.Put the already created `filtered_diabetes_data["Outcome"]= 0` block inside the new `filtered_diabetes_data[ ]` block.
    - Create a variable `non_diabetic_group`.
    - From `VARIABLES`click on `set non_diabetic_group to` block and connect to the left of `filtered_diabetes_data` block.
    - From `VARIABLES` block, click the `non_diabetic_group` block.    
    - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [21]:
#!response
non_diabetic_group = filtered_diabetes_data[(filtered_diabetes_data['Outcome'] == 0)]

non_diabetic_group

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="M9H!hB9+1a@!M=OTH=sA">non_diabetic_group</variable><variable id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</variable></variables><block type="variables_set" id="g{h3_en-1!AYbP]A:~K1" x="-96" y="56"><field name="VAR" id="M9H!hB9+1a@!M=OTH=sA">non_diabetic_group</field><value name="VALUE"><block type="indexer_Python" id="!rT[@z5?1N~^{$|Oh~LK"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field><value name="INDEX"><block type="logic_compare" id="dN!SD:7ey/YUo#kzcX5o"><field name="OP">EQ</field><value name="A"><block type="indexer_Python" id=":GL(=$p{o__v+#k/;l7#"><field name="VAR" id="wX:5mYpBrl4^ZDxEo5-%">filtered_diabetes_data</field><value name="INDEX"><block type="text" id="16}fZ_A=?iWX(n{9-s5K"><field name="TEXT">Outcome</field></block></value></block></value><value name="B"><block type="math_number" id="6I:-j*aYMN`F)27F~Ld_"><field name="NUM">0</field></block></value></block></value></block></value></block><block type="variables_get" id="m[S`w~)^b+tH4j?ZUW`$" x="-85" y="166"><field name="VAR" id="M9H!hB9+1a@!M=OTH=sA">non_diabetic_group</field></block></xml>

     Glucose   BMI  BloodPressure  Outcome
1         85  26.6             66        0
3         89  28.1             66        0
5        116  25.6             74        0
7        115  35.3              0        0
10       110  37.6             92        0
..       ...   ...            ...      ...
762       89  22.5             62        0
763      101  32.9             76        0
764      122  36.8             70        0
765      121  26.2             72        0
767       93  30.4             70        0

[500 rows x 4 columns]

#### Substep 2: Calculate Mean `Glucose` Level of Non-Diabetic People.

Now we want to calculate mean `Glucose` level of non-diabetic people.

But for that first we have to select the `Glucose` column of the `non_diabetic_group` dataframe.

#!blhint

- Create variable `non_diabetic_glucose`
- `set non_diabetic_glucose to` : `non_diabetic_group [ .. ]` &nbsp;<-&nbsp; `"Glucose"` 
- Variable `non_diabetic_glucose`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>

- Notation:
    - `A : B` means snap blocks A and B together.
    - `A <- B` means insert block B into the hole in block A.
- Blocks:
    - From `LISTS`, click on `{dictvariable}[]`. place `non_diabetic_group` inplace of `dictvariable`.
    - Get a text block `" "`. Write `Glucose` in the `" "` block. drag it inside `non_diabetic_group[ ]`.
    - Create a variable `non_diabetic_glucose` in `VARIABLES`.
    - From `VARIABLES` click on `set non_diabetic_glucose to` and connect to the left of the already created `non_diabetic_group["Glucose"]` block.
    - From `VARIABLES` block, click the `non_diabetic_glucose` block.
    - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [22]:
#!response
non_diabetic_glucose = non_diabetic_group['Glucose']

non_diabetic_glucose

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="(s7PL|9hv]S%=gt6.Lgn">non_diabetic_glucose</variable><variable id="M9H!hB9+1a@!M=OTH=sA">non_diabetic_group</variable></variables><block type="variables_set" id="7rjVuhFr6y.PX6/F!FtR" x="-96" y="123"><field name="VAR" id="(s7PL|9hv]S%=gt6.Lgn">non_diabetic_glucose</field><value name="VALUE"><block type="indexer_Python" id="BEZbK**=g.v5Kv.T!OmT"><field name="VAR" id="M9H!hB9+1a@!M=OTH=sA">non_diabetic_group</field><value name="INDEX"><block type="text" id="8^bv_HfEjp=7@-IoptF+"><field name="TEXT">Glucose</field></block></value></block></value></block><block type="variables_get" id="wmFMDj$~}t#q/=SZ]{Rj" x="-96" y="199"><field name="VAR" id="(s7PL|9hv]S%=gt6.Lgn">non_diabetic_glucose</field></block></xml>

1       85
3       89
5      116
7      115
10     110
      ...
762     89
763    101
764    122
765    121
767     93
Name: Glucose, Length: 500, dtype: int64

##### Calculate Mean of the Glucose level of non-diabetic people

We already have the `Glucose` level of the non-diabetic people in our `non_diabetic_glucose` dataframe. Now we will use this to calculate the mean.

#!blhint

- `with non_diabetic_glucose do mean using ..`

<details>
<summary> Blockly Instructions(click triangle to expand) </summary>
<br>

- Blocks:    
    - From `VARIABLES` block, click the `with non_diabetic_glucose do ...using...` block. 
    - From do , select `mean` option.    
    - Click on "Blocks to Code" at the bottom of the blockly palette.
    - Run the python code cell.
</details>

In [23]:
#!response
non_diabetic_glucose.mean()

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="(s7PL|9hv]S%=gt6.Lgn">non_diabetic_glucose</variable></variables><block type="varDoMethod_Python" id="r(BqAiZ!Ka,Y:mY:#z{J" x="-104" y="184"><field name="VAR" id="(s7PL|9hv]S%=gt6.Lgn">non_diabetic_glucose</field><field name="MEMBER">mean</field><data>non_diabetic_glucose:mean</data></block></xml>

109.98

### What are the mean glucose level for both the diabetic and non-diabetic groups?

#!response

Ans: